body {
  margin: 0;
  position: relative;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hide {
  display: none !important;
}

h3 {
  text-align: center;
}

hr {
  outline: 1px solid #eee;
}

/*#region progressing backdrop*/
@keyframes loading {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.progressing-backdrop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
body>.progressing-backdrop{
  position: fixed;
}
.progressing-backdrop>div{
  float: left;
  height: 1em;
  width: 1em;
  margin-left: .5em;
  border-radius: 50%;
  background: #ccc;
  animation: loading 1s ease-in-out infinite;
}
.progressing-backdrop>div:nth-child(1){
  margin-left: 0;
}
.progressing-backdrop>div:nth-child(2){
  animation-delay: -.8s;
}
.progressing-backdrop>div:nth-child(3){
  animation-delay: -1.6s;
}
/*#endregion progressing backdrop*/

/*#region dropdown-input*/
.dropdown-input-container{
  position: relative;
}
.dropdown-input-container>input{
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  font-size: 0.9em;
  border-width: 0;
}
.dropdown-input-container>ul.dropdown{
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  width: 100%;
  min-height: 2em;
  max-height: 50vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  z-index: 999;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  scrollbar-color: #aaa #fff;
}
.dropdown-input-container>ul.dropdown::-webkit-scrollbar {
  width: 8px;
}
.dropdown-input-container>ul.dropdown::-webkit-scrollbar-track {
  background: #ccc;
}
.dropdown-input-container>ul.dropdown::-webkit-scrollbar-thumb {
  background: #808080;
}

.dropdown-input-container>ul.dropdown.shown{
  display: block;
}
.dropdown-input-container>ul.dropdown.shown:empty{
  display: none;
}

.dropdown-input-container>ul.dropdown>li{
  padding: 6px 6px;
  border-bottom: 1px dashed #ccc;
  line-height: 140%;
  font-size: 90%;
}
.dropdown-input-container>ul.dropdown>li:last-child{
  border-bottom: 0;
}
.dropdown-input-container>ul.dropdown>li:hover,
.dropdown-input-container>ul.dropdown>li.focused{
  background-color: #2569c4;
}
.dropdown-input-container>ul.dropdown>li.selected,
.dropdown-input-container>ul.dropdown>li.selected:hover{
  background-color: #2569c4;
}
.dropdown-input-container>ul.dropdown>li>a{
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
}
.dropdown-input-container>ul.dropdown>li.focused>a,
.dropdown-input-container>ul.dropdown>li.selected>a{
  color: #fff;
}
/*#endregion dropdown-input*/

#leftSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

#leftSidebar>*{
  margin: 1rem 1rem 0;
}

#leftSidebar>*:last-child{
  margin-bottom: 1rem;
}

.sidebar {
  flex: auto 1 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #4a4a4a;
  color: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #3a3a3abf;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
}

.sidebar.empty{
  display: none;
}

.point {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
  box-sizing: content-box;
  padding: 10px;
}

#dragable-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

  #dragable-list::-webkit-scrollbar {
      width: 8px;
  }

  #dragable-list::-webkit-scrollbar-track {
      background: #fff;
  }

  #dragable-list::-webkit-scrollbar-thumb {
      background: #aaa;
  }

#dragable-list>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0 28px 5px 0;
  line-height: 30px;
}

#dragable-list>li:last-child {
  margin-bottom: 6px;
}

#dragable-list .drag {
  flex: none;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 5px;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2cHgiIGhlaWdodD0iN3B4IiB2aWV3Qm94PSIwIDAgNiA3Ij48dGl0bGU+QXJ0Ym9hcmQgMTwvdGl0bGU+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTTAgMGg2djFoLTZ6TTAgM2g2djFoLTZ6TTAgNmg2djFoLTZ6Ii8+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGg2djdoLTZ6Ii8+PC9zdmc+);
  cursor: grab;
}

.dragging {
  background-color: #e9e9e9;
}

#dragable-list label {
  /* position: absolute;
  top: 0;
  left: 15px; */
  flex: none;
  display: inline-block;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 4px;
  background-size: cover;
}

#dragable-list>li:first-child label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/starting.png);
}

#dragable-list>li:nth-child(2) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-a.png);
}

#dragable-list>li:nth-child(3) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-b.png);
}

#dragable-list>li:nth-child(4) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-c.png);
}

#dragable-list>li:nth-child(5) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-d.png);
}

#dragable-list>li:nth-child(6) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-e.png);
}

#dragable-list>li:nth-child(7) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-f.png);
}

#dragable-list>li:nth-child(8) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-g.png);
}

#dragable-list>li:nth-child(9) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-h.png);
}

#dragable-list>li:nth-child(10) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-i.png);
}

#dragable-list>li:nth-child(11) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-j.png);
}

#dragable-list>li:nth-child(12) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-k.png);
}

#dragable-list>li:nth-child(13) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-l.png);
}

#dragable-list>li:nth-child(14) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-m.png);
}

#dragable-list>li:nth-child(15) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-n.png);
}

#dragable-list>li:nth-child(16) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-o.png);
}

#dragable-list>li:nth-child(17) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-p.png);
}

#dragable-list>li:nth-child(18) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-q.png);
}

#dragable-list>li:nth-child(19) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-r.png);
}

#dragable-list>li:nth-child(20) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-s.png);
}

#dragable-list>li:nth-child(21) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-t.png);
}

#dragable-list>li:nth-child(22) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-u.png);
}

#dragable-list>li:nth-child(23) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-v.png);
}

#dragable-list>li:nth-child(24) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-w.png);
}

#dragable-list>li:nth-child(25) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-x.png);
}

#dragable-list>li:nth-child(26) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-y.png);
}

#dragable-list>li:nth-child(27) label {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-z.png);
}

#dragable-list input {
  flex: auto 1 1;
  height: 30px;
  margin: 0;
  padding: 0 40px 0px 0px;
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#dragable-list input:focus {
  outline: none;
}

#dragable-list .dropdown-input-container {
  flex: auto 1 1;
}

#dragable-list .closer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 1em auto 0;
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 12px;
  line-height: 1;
  color: #333333;
  text-decoration: none;
}

#dragable-list .closer::after {
  content: "✖";
}

#dragable-list .closer:hover {
  cursor: pointer;
}

#roundTrip {
  padding-left: 50px;
  font-size: 12px;
}

#roundTrip label {
  line-height: 2.5em;
}

#add-point {
  display: inline-block;
  padding: 5px;
  font-size: .9rem;
  cursor: pointer;
}

#add-point::before {
  content: '+';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  border: 1px solid #202020;
  border-radius: 50%;
  text-align: center;
  font-family: none;
  font-weight: bold;
}

#go {
  width: 70px;
  margin-left: 20px;
  font-size: small;
  line-height: initial;
  cursor: pointer;
}

#add-point {
  display: inline-block;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#add-point::before {
  content: '+';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 1px solid #202020;
  border-radius: 50%;
  text-align: center;
}

#result {
}

#result #total {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 200;
}

#result .total {
  margin: 0;
  padding: 10px 16px;
  font-size: inherit;
  font-weight: 500;
  background-color: #3a3a3a;
}

#result h5#total {
  background-color: #000;
}

#result #routes {
  position: relative;
  box-sizing: border-box;
  max-height: calc(100% - 38px);
  padding: 0;
  margin: 0;
  list-style: none;
}

#result #routes>li {
  box-sizing: border-box;
  width: 100%;
  border-top: #787878 solid 1px;
}

#result #routes .total {
  position: sticky;
  top: 38px;
  padding: 0;
  z-index: 100;
}
#result #routes .total button {
  height: 100%;
  width: 100%;
  border: 0 none;
  padding: 10px 16px;
  text-align: left;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
#result #routes .total button::after {
  content: '';
  display: block;
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  height: 0;
  width: 0;
  margin: auto;
  border: transparent solid .5em;
  border-top-color: #fff7;
  border-bottom-width: 0;
}
#result #routes .total button.collapsed::after {
  border: transparent solid .5em;
  border-left-color: #fff7;
}

#closeResult {
  display: none;
  position: absolute;
  top: .5em;
  right: .6em;
  width: 31px;
  height: 24px;
  z-index: 9999;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  background: url(https://samples.thinkgeo.com/cloud/example/image/down.svg) 2px no-repeat #1890ff;
  cursor: pointer;
}

#result.collapsed #closeResult {
  background: url(https://samples.thinkgeo.com/cloud/example/image/up.svg) 2px no-repeat #1890ff;
}

#result #routes .total .from::after {
  content: ' →';
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  white-space: pre;
}

#result #routes .total .from::before,
#result #routes .total .to::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-size: cover;
}

#result #routes .total span[data-location='Origin']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/starting.png);
}

#result #routes .total span[data-location='Destination1']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-a.png);
}

#result #routes .total span[data-location='Destination2']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-b.png);
}

#result #routes .total span[data-location='Destination3']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-c.png);
}

#result #routes .total span[data-location='Destination4']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-d.png);
}

#result #routes .total span[data-location='Destination5']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-e.png);
}

#result #routes .total span[data-location='Destination6']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-f.png);
}

#result #routes .total span[data-location='Destination7']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-g.png);
}

#result #routes .total span[data-location='Destination8']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-h.png);
}

#result #routes .total span[data-location='Destination9']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-i.png);
}

#result #routes .total span[data-location='Destination10']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-j.png);
}

#result #routes .total span[data-location='Destination11']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-k.png);
}

#result #routes .total span[data-location='Destination12']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-l.png);
}

#result #routes .total span[data-location='Destination13']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-m.png);
}

#result #routes .total span[data-location='Destination14']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-n.png);
}

#result #routes .total span[data-location='Destination15']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-o.png);
}

#result #routes .total span[data-location='Destination16']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-p.png);
}

#result #routes .total span[data-location='Destination17']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-q.png);
}

#result #routes .total span[data-location='Destination18']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-r.png);
}

#result #routes .total span[data-location='Destination19']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-s.png);
}

#result #routes .total span[data-location='Destination20']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-t.png);
}

#result #routes .total span[data-location='Destination21']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-u.png);
}

#result #routes .total span[data-location='Destination22']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-v.png);
}

#result #routes .total span[data-location='Destination23']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-w.png);
}

#result #routes .total span[data-location='Destination24']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-x.png);
}

#result #routes .total span[data-location='Destination25']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-y.png);
}

#result #routes .total span[data-location='Destination26']::before {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/end-point-letter/end-point-z.png);
}

.format-distance {
  margin-right: 8px;
}

.format-duration {
  color: rgba(255, 255, 255, 0.5);
}

#input-error {
  position: absolute;
  top: -150px;
  left: 50%;
  width: auto;
  min-width: 300px;
  margin-left: auto;
  text-align: center;
  transform: translate(-50%, 0);
  transition: top 0.6s;
  z-index: 10;
}

#input-error.show {
  top: 15px;
  transition: top 0.6s;
}

#input-error p {
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.error-message {
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 20px;
  padding-top: 40px;
}

.error-message a {
  color: #44a8ff;
}

.loading {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 9;
}

.loading div {
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  margin-left: 10px;
}

.loading div:nth-child(1) {
  animation: loading 1s ease-in-out infinite;
}

.loading div:nth-child(2) {
  animation: loading 1s ease-in-out infinite;
  animation-delay: -0.8s;
}

.loading div:nth-child(3) {
  animation: loading 1s ease-in-out infinite;
  animation-delay: -1.6s;
}

@keyframes loading {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading div:nth-child(1) {
  margin-left: calc(50% - 50px);
}

.loading.hide {
  display: none;
}

.warnings {
  color: #f09032;
  width: 100% !important;
  padding-left: 20px;
  background: url(https://samples.thinkgeo.com/cloud/example/image/warning.svg) 0% center no-repeat;
  padding-top: 0 !important;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px
}

.warnings-small {
  right: 40px;
  position: absolute;
  bottom: 10px;
  display: inline-block;
  font-size: 12px;
  color: #f09032;
  padding-left: 18px;
  background: url(https://samples.thinkgeo.com/cloud/example/image/warning.svg) 0% center no-repeat
}

.warnings-icon-small {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(https://samples.thinkgeo.com/cloud/example/image/warning.svg) 50% center no-repeat
}

#result #routes {
  height: calc(100% - 30px);
}

.box {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding: 5px 10px;
  border-top: 1px dashed #787878;
  color: #b6b6b6;
  position: relative;
  cursor: pointer;
}

.box:hover {
  background: #4b4b4b
}

.box:hover .direction-wrap {
  border: 1px solid #565656;
  border-radius: 50%;
  background: #646464
}

.selectBox {
  background: #292929 !important
}

.box .instruction {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #e1e1e1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box .distance,
.box .duration {
  position: absolute;
  bottom: 10px;
  line-height: 12px;
  display: inline-block;
  font-size: 12px;
}

.box .duration {
  left: 120px;
}

.box .endPoint {
  line-height: 4;
}

.direction-wrap {
  display: inline-block;
  padding: 2px 4px;
  margin-right: 10px;
  margin-top: 10px;
}

i.direction {
  display: inline-block;
  width: 20px;
  height: 20px;
}

i.direction {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/directions.svg);
  background-size: cover;
}

i.direction.straight_on {
  background-position-x: 0;
}

i.direction.sharp_right {
  background-position-x: -31px;
}

i.direction.right {
  background-position-x: -61px;
}

i.direction.slight_right {
  background-position-x: -90px;
}

i.direction.turn-back {
  background-position-x: -122px;
}

i.direction.sharp_left {
  background-position-x: -150px;
}

i.direction.left {
  background-position-x: -180px;
}

i.direction.slight_left {
  background-position-x: -210px;
}

i.direction.back {
  background-position-x: -239px;
}

i.direction.around_circle_straight {
  background-position-x: -271px;
}

i.direction.start {
  background-position-x: -298px;
  margin-bottom: 0px !important;
}

i.direction.end {
  background-position-x: -323px;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.ol-zoom {
  bottom: .5em;
  right: 0.5em;
  top: unset;
  left: unset;
}

.ol-zoom button {
  width: 1.2em !important;
  height: 1.2em !important;
}

#ol-contextmenu {
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 300px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  border-radius: 2px;
  border: 1px solid #cccccc;
}

/* #result.hide, */
#ol-contextmenu.hide {
  display: none;
}

#ol-contextmenu ul {
  margin: 0;
  padding: 0;
}

#ol-contextmenu li {
  list-style: none;
  padding: 5px 10px;
  border-bottom: 1px solid #e1e1e1;
}

#ol-contextmenu li:last-child{
  border-bottom: none;
}

#ol-contextmenu li:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

.transition-height {
  transition: height .5s;
}

#error-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: #0000006e;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: #f0f0f0;
  border: 1px solid #b8b8b8;
}

.modal-content p {
  text-align: left;
}

.modal-content button {
  color: #fff;
  background-color: #3d3d3e;
  border-color: #3d3d3e;
  border-radius: 4px;
  padding: 0 7px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  margin-right: 20px;
}

#instruction-tip {
  width: max-content;
  position: fixed;
  bottom: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: #fff;
}

#instruction-tip p {
  background-color: rgba(58, 58, 58, 0.85);
  border-radius: 3px;
  padding: 10px 20px;
}

#instruction-tip.gone {
  bottom: -100px;
  opacity: 0;
  transition: bottom 500ms ease-out, opacity 300ms ease-out;
}
/* Mobile phone */

@media (max-width: 767px) {
  #leftSidebar{
    position: static;
    height: 0;
    width: 0;
  }
  .sidebar {
    margin: 0 !important;
  }
  .point {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;  
    margin: 0 !important;
  }
  #dragable-list {
    max-height: 100px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #dragable-list .drag {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 15px;
    vertical-align: middle;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2cHgiIGhlaWdodD0iN3B4IiB2aWV3Qm94PSIwIDAgNiA3Ij48dGl0bGU+QXJ0Ym9hcmQgMTwvdGl0bGU+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTTAgMGg2djFoLTZ6TTAgM2g2djFoLTZ6TTAgNmg2djFoLTZ6Ii8+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGg2djdoLTZ6Ii8+PC9zdmc+);
    cursor: grab;
  }
  #dragable-list label {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  #dragable-list input {
    height: 20px;
    width: 60%;
  }
  input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #cfcfcf;
  }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cfcfcf;
  }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cfcfcf;
  }
  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #cfcfcf;
  }
  .start label {
    background-position-x: -400px;
  }
  .end label {
    background-position-x: -824px;
  }
  .btn-wrap {
    bottom: 0;
  }
  .warnings-small {
    bottom: 17px
  }
  #add-point,
  #go{
    display: none;
  }

  .menu-wrap {
    width: 47% !important;
  }
  #map {
    width: 100%;
  }
  #result {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 40vh;
    overflow: hidden;
    width: 100%;
    background-color: #3a3a3a;
    transition: transform .3s;
  }
  #result #routes {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  #result #routes::-webkit-scrollbar {
    width: 8px;
  }
  
  #result #routes::-webkit-scrollbar-track {
    background: #3a3a3abf;
  }
  
  #result #routes::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
  }
  
  #result #routes .total {
    top: 0;
  }
  #result.error-on-mobile {
    height: 116px !important;
  }
  #result.error-on-mobile .boxes {
    height: 100%;
  }
  #result.error-on-mobile .total {
    display: none;
  }
  #result.error-on-mobile .error-message {
    height: auto;
    line-height: 20px;
  }
  #result.collapsed {
    transform: translateY(calc(100% - 36px));
  }
  #result .boxes {
    height: calc(100% - 53px);
  }
  #closeResult {
    display: block;
  }
  .box {
    width: unset;
    padding: 10px 20px;
    margin-left: 0px;
    height: unset;
    margin-bottom: 0;
    border-top: 0;
  }
  #result>p>span {
    display: inline-block;
    width: 24%;
    padding-top: 0px;
    text-align: center;
  }
  .box .instruction {
    height: unset;
    line-height: 12px;
    top: unset;
    width: 270px;
  }
  i.direction {
    margin-top: 0;
  }
  .box .distance,
  .box .duration {
    bottom: unset;
    line-height: 49px;
  }
  .ol-zoom {
    right: .5em;
    top: unset;
    left: unset;
    bottom: 5em;
    padding: 0px;
    transition: bottom .5s;
  }
  .ol-rotate {
    right: .5em;
    padding: 0px;
    top: 13em;
    left: unset;
    transition: bottom .5s;
    bottom: unset
  }
  .error-message {
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 20px;
  }
  .modal-content {
    width: 80vw;
  }
  #instruction-tip p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #clear {
    right: 0.5em;
  }
  #result>p>span {
    width: auto
  }
  .menu-wrap {
    width: 53% !important;
  }
  .box {
    width: unset;
    padding: 10px 3px;
  }
}