.hidden{
  display: none !important;
}
head, body{
  margin: 0;
  height: 100%;
  background-color: gray;
}

.map{
  height: 100%;
  width: 100%;
}

#mapPopup {
  padding: 5px 10px;
  z-index: 5;
  background-color: #fff;
  border: 1px solid rgb(185, 185, 185);
  text-align: left;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#mapPopup .content:after,
#mapPopup .content:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

#mapPopup .content:before {
  top: -19px;
  left: 3px;
  border-width: 10px;
  border-bottom-color: #b9b9b9;
}

#mapPopup .content:after {
  top: -16px;
  left: 4px;
  border-width: 9px;
  border-bottom-color: #fff;
}

#mapPopup .content {
  font-size: 14px;
  line-height: 20px;
}

#mapPopup .content table {
  min-width: 300px;
  border-collapse: collapse;
}
#mapPopup .content table tr {
  border-top: 1px solid #eee;
}
#mapPopup .content table tr:nth-child(1){
  border-top: none;
}
#mapPopup .content table td,
#mapPopup .content table th {
  padding: 7px 0;
}
#mapPopup .content table th::after {
  content: ':';
}

#mapPopup .close-button {
  text-decoration: none;
  position: absolute;
  top: 1px;
  right: 8px;
  cursor: pointer;
}

#mapPopup .close-button::after {
  content: "✖";
}

.ol-zoom{
  bottom: .5em;
  right: 0.5em;
  top: unset;
  left: unset;
}
.query-panel{
  position: fixed;
  left: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  width: 16em;
  padding: .3em .6em;
  background-color: #000000BF;
  color: #fff;
  border: 1px solid #B4B4B4;
  border-radius: 3px;
}
.query-panel>*{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: .3em;
  padding-bottom: .3em;
  border-bottom: 1px solid rgba(108, 108, 108, .314);
}
.query-panel>*>*:nth-child(odd){
  width: 40%;
}
.query-panel>*>*:nth-child(even){
  width: 60%;
}
.query-panel label{
  font-size: .83rem;
  font-weight: bold;
  line-height: 1.2;
}
.query-panel select,
.query-panel input[type=number]{
  box-sizing: border-box;
  width: 100%;
}
.query-panel .distanceUnitSelect{
  width: 4rem;
}
.query-panel button{
  line-height: 1.1;
  padding: .4em .5em;
  background-color: #007bff;
  border:1px solid #0062cc;
  cursor: pointer;
  color: #fff;
}
.query-panel button:hover,
.query-panel button:focus{
  outline: none;
  background-color: #0069d9;
  border-color: #0062cc;
}
.query-panel button#clearButton {
  background-color: #6c757d;
  border-color: #6c757d;
}
.query-panel button#clearButton:hover,
.query-panel button#clearButton:focus {
  background-color: #545b62;
  border-color: #4e555b;
}
.query-panel .button-group{
  display: flex;
  width: 100%;
}
.query-panel .button-group button {
  width: 25%;
}
button#queryButton,
.query-panel #drawTypePanel > button,
.query-panel .button-group button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button#queryButton,
.query-panel #drawTypePanel > button,
.query-panel .button-group button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.query-panel .button-group button.active{
  background-color: #004a99;
  border-color: #004a99;
}
.query-panel select,
.query-panel input {
  background-color: #000;
  border-color: #808080;
  color: #ddd;
}
#clearButton{
  width: auto;
  font-size: .83rem;
  padding-left: .7em;
  padding-right: .7em
}
#queryButton{
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}
#queryCollapseButton{
  display: none;
}
.query-panel #drawTypePanel{
  padding: 0;
}
.query-panel #drawTypePanel>*{
  padding-top: .3em;
  padding-bottom: .3em;
}
#distanceQueryPanel>div,
#nearestQueryPanel>div{
  display: flex;
  flex-wrap: nowrap;
}
#distanceQueryPanel input[type=number],
#nearestQueryPanel input[type=number]{
  box-sizing: border-box;
  width: 55%;
}
#distanceQueryPanel select.distanceUnitSelect,
#nearestQueryPanel select.distanceUnitSelect{
  box-sizing: border-box;
  width: 45%;
}

@keyframes loading {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.progressing-backdrop{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.progressing-backdrop>div{
  float: left;
  height: 1em;
  width: 1em;
  margin-left: .5em;
  border-radius: 50%;
  background: #ccc;
  animation: loading 1s ease-in-out infinite;
}
.progressing-backdrop>div:nth-child(1){
  margin-left: 0;
}
.progressing-backdrop>div:nth-child(2){
  animation-delay: -.8s;
}
.progressing-backdrop>div:nth-child(3){
  animation-delay: -1.6s;
}

.alert-message{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: .5em;
  border: 1px solid transparent;
  border-radius: .5em;
  cursor: default;
}
.alert-message.warning{
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  transition: top .6s;
}
.alert-message.warning:hover{
  box-shadow: #f8d7dacc 0 0 4px 2px;
}
.alert-message.warning.hidden{
  display: block !important;
  top: -150px;
}
.alert-message.error{
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  transition: top .6s;
}
.alert-message.error:hover{
  box-shadow: #f8d7dacc 0 0 4px 2px;
}
.alert-message.error.hidden{
  display: block !important;
  top: -150px;
}
.alert-message.instruction{
  position: fixed;
  top: auto;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: max-content;
  max-width: 90%;
  padding: 0.62em 1.25em;
  border-radius: 0.18em;
  color: #fff;
  background-color: rgba(58, 58, 58, 0.85);
  transition: bottom .5s ease-out, opacity .3s ease-out;
}
.alert-message.instruction.hidden{
  display: block !important;
  bottom: -6.25em;
  opacity: 0;
}

@media (max-width: 767px){
  .query-panel{
    left: 0;
    top: 0;
    transition: transform .5s ease-out;
  }
  .query-panel.collapsed{
    transform: translateX(-100%);
  }
  .query-panel button{
    padding: .1em .2em;
  }
  .query-panel>*{
    padding-top: .1em;
    padding-bottom: .1em;
  }
  .query-panel #drawTypePanel>*{
    padding-top: .1em;
    padding-bottom: .1em;
  }
  #queryCollapseButton{
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
    margin: 0;
    padding: .85em .33em;
    font-size: .83rem;
    background-color: #000000BF;
    border: 1px solid #B4B4B4;
    border-left: none;
    cursor: pointer;
  }
  .query-panel #queryCollapseButton::before{
    content: '<<';
  }
  .query-panel.collapsed #queryCollapseButton::before{
    content: '>>';
  }

  #mapPopup .content table {
    min-width: 250px;
  }
}